<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath=".\Bin\Aras.OAuth.Server.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" /><!-- Use "Development" for errors diagnostics. -->
				<environmentVariable name="DOTNET_ADDITIONAL_DEPS" value="Plugins\additionalDeps\" />
				<environmentVariable name="DOTNET_SHARED_STORE" value="Plugins\store\" />
			<environmentVariable name="ASPNETCORE_FORWARDEDHEADERS_ENABLED" value="true" /></environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>