<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oauth" type="Aras.OAuth.Configuration.OAuthSection, Aras.OAuth.Configuration" />
    <section name="oauth.clientserver" type="Aras.OAuth.Configuration.OAuthSection, Aras.OAuth.Configuration" />
  </configSections>
  <oauth configSource="OAuth.config" />
  <oauth.clientserver configSource="OAuth.ClientServer.config" />
  <cachingModule moduleEnabled="true" filesRevision="5" />
  <staticContent>
    <mimeMap action="clear" />
    <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    <mimeMap fileExtension=".pexe" mimeType="application/x-pnacl" />
    <mimeMap fileExtension=".nmf" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".res" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".json" mimeType="application/json" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    <mimeMap fileExtension=".pegjs" mimeType="application/x-pegjs" />
    <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    <mimeMap fileExtension=".ts" mimeType="application/javascript" />
    <mimeMap fileExtension=".html" mimeType="text/html" />
    <mimeMap fileExtension=".js" mimeType="application/javascript" />
    <mimeMap fileExtension=".css" mimeType="text/css" />
    <mimeMap fileExtension=".xml" mimeType="text/xml" />
    <mimeMap fileExtension=".xsl" mimeType="text/xml" />
    <mimeMap fileExtension=".xslt" mimeType="text/xml" />
    <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel" />
    <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
    <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
    <mimeMap fileExtension=".png" mimeType="image/png" />
    <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
    <mimeMap fileExtension=".gif" mimeType="image/gif" />
    <mimeMap fileExtension=".doc" mimeType="application/msword" />
    <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
    <mimeMap fileExtension=".bmp" mimeType="image/bmp" />
    <mimeMap fileExtension=".htm" mimeType="text/html" />
    <mimeMap fileExtension=".jsx" mimeType="text/jscript" />
    <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
    <mimeMap fileExtension=".xsd" mimeType="text/xml" />
    <mimeMap fileExtension=".txt" mimeType="text/plain" />
    <mimeMap fileExtension=".map" mimeType="text/plain" />
    <staticPath path="/bin" action="deny" />
    <staticPath path="/App_Data" action="deny" />
    <staticPath path="/App_code" action="deny" />
    <staticPath path="/App_GlobalResources" action="deny" />
    <staticPath path="/App_LocalResources" action="deny" />
    <staticPath path="/App_WebReferences" action="deny" />
    <staticPath path="/App_Browsers" action="deny" />
    <staticPath path="/jsBundles/data.json" action="deny" />
    <staticPath path="/appsettings.json" action="deny" />
    <staticPath path="/InnovatorClient.Plugins.json" action="deny" />
    <staticPath path="/tsconfig.json" action="deny" />
    <staticPath path="/jsCompileAll.js" action="deny" />
    <staticPath path="/jshintlint.js" action="deny" />
    <staticPath path="/jsWatcher.js" action="deny" />
    <staticPath path="/InnovatorServerConfig.xml" action="deny" />
    <staticPath path="/InnovatorClientConfig-SAMPLE.xml" action="deny" />
    <staticPath path="/innovator.xml" action="deny" />
    <staticPath path="/appsettings.Development.json" action="deny" />
    <staticPath path="/appsettings.Staging.json" action="deny" />
    <staticPath path="/appsettings.Production.json" action="deny" />
  </staticContent>
  <customHeaders>
    <add name="X-Frame-Options" value="SAMEORIGIN" />
    <add name="X-Content-Type-Options" value="nosniff" />
  </customHeaders>
</configuration>