<?xml version="1.0" encoding="utf-8"?>
<oauth.clientserver>
	<client id="InnovatorClientServer">
		<secret type="JwtBearerAssertionClientSecret">
			<certificate filePath="App_Data/Certificates/InnovatorClientServer.pfx" password="" />
			<tokenLifetime assertionTokenLifetime="300" />
		</secret>
	</client>
	<tokenValidation>
		<cache enabled="true" duration="300" />
		<certificate filePath="App_Data/Certificates/OAuthServer.cer" />
	</tokenValidation>
</oauth.clientserver>
