<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\bin\Aras.Client.exe" requestTimeout="02:00:00" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <!-- Use "Development" for errors diagnostics. -->
        <environmentVariable name="DOTNET_ADDITIONAL_DEPS" value="Plugins\additionalDeps\" />
        <environmentVariable name="DOTNET_SHARED_STORE" value="Plugins\store\" />
        <environmentVariable name="ASPNETCORE_SHUTDOWNTIMEOUTSECONDS" value="120" />
      <environmentVariable name="ASPNETCORE_FORWARDEDHEADERS_ENABLED" value="true" /></environmentVariables>
    </aspNetCore>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough">
      <clear />
    </httpErrors>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="/jsBundles/data.json" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>